<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <!-- <%= JSON.stringify( items)%> -->
        <%- include('./partials/nav.ejs') %>
            <div class="container">
                <ul class="collection with-header">
                    <% if (items.length> 0) { %>

                        <% items.forEach(element=> { %>

                            <li class="collection-item">
                                <div>
                                    <%= element.name %> $<%= element.price %> <a href="#!" class="secondary-content">
                                                <i class="material-icons">edit</i>
                                                <i class="material-icons">delete</i>
                                            </a>
                                </div>
                            </li>
                            <% }); %>


                                <% } else { %>
                                    <li>There are no items</li>
                                    <% }%>


                </ul>
            </div>



    </body>

</html>